<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="postUser" method="POST">
        <span>Введите логин</span>
        <input class="loginInput" name="userName" type="text" >
        <span>Введите почту</span>
        <input class="emailInput" name="userEmail" type="text">
        <span>Введите пароль</span>
        <input class="passwordInput" name="userPassword" type="text">
        <input type="submit" value="Зарегестрироваться">
    </form>
</body>
</html>