<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/registration" method="POST">
        <span>Введите логин</span>
        <input name="username" type="text" >
        <span>Введите почту</span>
        <input name="useremail" type="text">
        <span>Введите пароль</span>
        <input name="userpassword" type="text">
        <input type="submit" value="Зарегестрироваться">
    </form>
</body>
</html>