<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/users/registration">Регистрация</a>
    <h1>Список пользователей</h1>
    <table>
         <tr><th>Имя</th><th>Почта</th></tr>
         {{#each users}}
            <tr><td>{{this.username}}</td><td>{{this.email}}</td></tr>
         {{/each}}
     </table>
</body>
</html>